extends layout

mixin metric(id,title,footer)
  div(class="panel panel-default",id="#{id}-metric" )
    if title
      div.panel-heading: h3.panel-title= title
    div(class="panel-body metric")
      div(class="canvas-wrap")
        canvas(data-canvas-gauge="#{id}")    
      div(class="value-wrap")
        h1(data-counter="#{id}")= "--"
        h4
          span.glyphicon(data-direction="#{id}")
          span(data-change="#{id}")= ""
    if footer
      div.panel-footer= footer

block styles
  link(rel='stylesheet',href='/stylesheets/dashboard.css')
  
block scripts
  script(src='/javascripts/dashboard.js')
  script(src='/javascripts/counter.js')
  script(src="/javascripts/canvas.js")

block content
  div(class="container")
    div.page-header: h1 Canvas Example 1
    div(class="row")
      div(class="col-lg-3")
        +metric("first","Metric 1","My First Metric")
      div(class="col-lg-3")
        +metric("second","Metric 2","Another Metric")
      div(class="col-lg-6")
        +metric("third","Metric 3","A Bigger One")
    div(class="row")
      div(class="col-lg-2")
        +metric("m4")
      div(class="col-lg-2")
        +metric("m5")
      div(class="col-lg-2")
        +metric("m6")
      div(class="col-lg-2")
        +metric("m7")
      div(class="col-lg-2")
        +metric("m8")
      div(class="col-lg-2")
        +metric("m9")
    